@import '~@gravity-ui/uikit/styles/styles.css';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  margin: 0;
  font: var(--font-m);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.yc-root {
  &_theme_light {
    background-color: #edeff0;
  }

  &_theme_dark {
    background-color: #2d2c33;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.page-wrapper {
  display: block;
  position: relative;
  top: var(--header-height);
  left: 0;
  right: 0;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  border-right: 1px solid var(--g-color-private-blue-200-solid);
  border-left: 1px solid var(--g-color-private-blue-200-solid);
}
