.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  @media (prefers-reduced-motion: no-preference) {
    & img {
      animation: app-logo-spin infinite 20s linear;
      width: 40px;
      height: 40px;
      margin-left: -10px;
    }
  }
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
