.ShowMd {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  h5 {
    margin-top: 40px;
  }
  & pre {
    max-width: 100%;
    padding: 2px;
  }

  & code {
    max-width: 100%;
    padding: 5px;
  }
}

.showMdBlock {
  display: block;
  padding: var(--indent);
  height: calc(100% - var(--indent) - var(--indent));
  overflow-y: scroll;
}

.showMdBlockNav {
  border-left: 1px solid var(--g-color-private-blue-200-solid);
}

.showMdGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}
