.PageWrapper {
  display: block;
  position: relative;
  top: var(--header-height);
  left: 0;
  right: 0;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: var(--indent);
  border-right: 1px solid var(--g-color-private-blue-200-solid);
  border-left: 1px solid var(--g-color-private-blue-200-solid);
}
