.PostNavigation {
  padding: var(--indent);
  overflow-y: auto;
  border-left: 1px dotted var(--g-color-private-blue-200-solid);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 1 1 auto;

  & ul {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
  }
}
