.PostNavigation {
  position: sticky;
  top: 0;
  padding: var(--indent);
  height: calc(100% - var(--indent) - var(--indent));
  overflow-y: scroll;
  border-left: 1px dotted var(--g-color-private-blue-200-solid);
  & ul {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
  }

  & li {
    margin-bottom: 10px;
  }
}

.active {
  font-weight: bold;
  border: 1px dotted var(--g-color-private-blue-500-solid);
  padding: 5px 10px;
}
