.MdNavigation {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  height: fit-content;
  padding: 0 var(--indent);
  border-left: 1px dotted var(--g-color-private-blue-200-solid);
  overflow-y: auto;
  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & li {
    margin-bottom: var(--indent);
  }
}
