.MdNavigation {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding: var(--indent);
  height: calc(100% - var(--indent) - var(--indent));
  overflow-y: scroll;
  border-left: 1px dotted var(--g-color-private-blue-200-solid);
  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & li {
    margin-bottom: var(--indent);
  }
}
